<!DOCTYPE html>
<html>
<head>
  <title>SaluDatos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta charset="utf-8"></meta>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
  <meta content="width=device-width, initial-scale=1" name="viewport"></meta>
  <%= csrf_meta_tags %>
</head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 marginAuto">
        <%= render partial: 'layouts/navbar' %>
      <div>
        <% if flash[:notice] %>
        <p id="notice" class="alert alert-success"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:alert] %>
        <p id="alert" class="alert alert-danger"><%= flash[:alert] %></p>
        <% end %>
      </div>
      <%= content_for?(:categories) ? yield(:categories) : nil %>
      <%= yield %>
    </div>
  </body>
</html>
